<a href="https://colab.research.google.com/github/JJJJeon/ESAA/blob/main/miniteamproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
train=pd.read_csv('/content/drive/MyDrive/readcsv/hospital/train.csv')
test=pd.read_csv('/content/drive/MyDrive/readcsv/hospital/test.csv')

In [4]:
train.drop(['inst_id','sgg'],axis=1,inplace=True)
test.drop(['inst_id','sgg'],axis=1,inplace=True)

In [5]:
train.dropna(subset=['instkind'],axis=0,inplace=True)
test.dropna(subset=['instkind'],axis=0,inplace=True)

파생변수 생성

In [7]:
#train['재고자산회전율']=train.salescost1/((train.inventoryAsset1+train.inventoryAsset2)/2)
#train['매출액순이익율'] = train.profit1/train.revenue1*100
train['배당성향'] = (train.profit1-train.surplus1)/train.profit1
#train['이자보상비율'] = (train.revenue1-train.salescost1-train.sga1-train.noi1-train.noe1)/train.interest1*100
train['자기자본비율']=train.netAsset1/(train.debt1+train.netAsset1)*100
#train['유동비율']=(train['liquidAsset1']/train['liquidLiabilities1'])*100
#train['당좌비율']=(train['quickAsset1']/train['liquidLiabilities1'])*100
train['부채비율']=(train['debt1']/(train['debt1']+train['netAsset1']))*100
#train['매출액증가율']=(train['revenue1']/train['revenue2'])*100-100
#train['총자산증가율']=(train['netAsset1']+train['debt1'])/(train['netAsset2']+train['debt2'])*100 -100
#train['ROE']=(train['profit1']/train['netAsset1'])*100

In [8]:
#test['재고자산회전율']=test.salescost1/((test.inventoryAsset1+test.inventoryAsset2)/2)
#test['매출액순이익율'] = test.profit1/test.revenue1*100
test['배당성향'] = (test.profit1-test.surplus1)/test.profit1
#test['이자보상비율'] = (test.revenue1-test.salescost1-test.sga1-test.noi1-test.noe1)/test.interest1*100
test['자기자본비율']=test.netAsset1/(test.debt1+test.netAsset1)*100
#test['유동비율']=(test['liquidAsset1']/test['liquidLiabilities1'])*100
#test['당좌비율']=(test['quickAsset1']/test['liquidLiabilities1'])*100
test['부채비율']=(test['debt1']/(test['debt1']+test['netAsset1']))*100
#test['매출액증가율']=(test['revenue1']/test['revenue2'])*100-100
#test['총자산증가율']=(test['netAsset1']+test['debt1'])/(test['netAsset2']+test['debt2'])*100 -100
#test['ROE']=(test['profit1']/test['netAsset1'])*100

In [9]:
for i in range(0,len(train["OC"])):
  if train.iloc[i,0] == "open":
    train.iloc[i, 0]=1
  else:
    train.iloc[i, 0]=0 

for i in range(0,len(test["OC"])):
  if test.iloc[i,0] == "open":
    test.iloc[i, 0]=1
  else:
    test.iloc[i, 0]=0

In [17]:
train.loc[train.bedCount>300,'hospital_size']=1
train.loc[train.bedCount<=300,'hospital_size']=0

데이터 전처리

In [12]:
train['ownerChange'].mode()[0]
train.loc[train['ownerChange'].isna(),'ownerChange'] = train['ownerChange'].mode()[0]
train['ownerChange'].isna().sum()

test['ownerChange'].mode()[0]
test.loc[test['ownerChange'].isna(),'ownerChange'] = test['ownerChange'].mode()[0]
test['ownerChange'].isna().sum()

0

In [13]:
train.dropna(subset=['salescost1'],axis=0,inplace=True)
test.dropna(subset=['salescost1'],axis=0,inplace=True)

In [14]:
train.groupby('instkind')['bedCount'].mean()
train['bedCount'] = train['bedCount'].fillna(train.groupby('instkind')['bedCount'].transform('mean')) 
train['bedCount'].isnull().sum()

test.groupby('instkind')['bedCount'].mean()
test['bedCount'] = test['bedCount'].fillna(test.groupby('instkind')['bedCount'].transform('mean')) 
test['bedCount'].isnull().sum()

1

In [16]:
import numpy as np

round(train['ownerChange'].value_counts(normalize=True),3)
train['ownerChange'] = train['ownerChange'].fillna(pd.Series(np.random.choice(['same','change'], p=[0.85,0.15],size = 300))) 

round(test['ownerChange'].value_counts(normalize=True),3)
test['ownerChange'] = test['ownerChange'].fillna(pd.Series(np.random.choice(['same','change'], p=[0.85,0.15],size = 300)))

In [ ]:
train.drop(['sido','ownerChange','instkind'],axis=1, inplace=True)
test.drop(['sido','ownerChange','instkind'],axis=1, inplace=True)

In [33]:
train.drop(['instkind'],axis=1, inplace=True)

In [35]:
test.drop(['sido','ownerChange','instkind'],axis=1, inplace=True)

In [38]:
train.drop(['배당성향','자기자본비율','부채비율'],axis=1, inplace=True)
test.drop(['배당성향','자기자본비율','부채비율'],axis=1, inplace=True)

In [52]:
from sklearn.preprocessing import MinMaxScaler

scaler=MinMaxScaler()
scaler.fit(train)
strain=scaler.transform(train)
strain=pd.DataFrame(data=strain,columns=train.columns)

In [54]:
strain.head()

,OC,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,interest1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,hospital_size
0,1.0,0.745497,0.266768,0.027931,0.000000,0.038458,0.031761,0.001712,0.001754,0.004658,...,0.008920,0.003255,0.000000,0.010409,0.011977,0.156855,0.056834,0.051667,0.053333,0.0
1,1.0,0.975981,0.713415,0.006652,0.005233,0.004342,0.004629,0.000008,0.000003,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.138809,0.039006,0.195000,0.000833,1.0
2,1.0,0.565172,0.538110,0.480181,0.000000,0.686188,0.496381,0.055360,0.145005,0.421218,...,0.443714,0.248560,0.524017,0.402618,0.463738,0.228058,0.147560,0.552500,0.552500,1.0
3,1.0,0.693441,0.298780,0.324792,0.000000,0.462680,0.381987,0.012287,0.163369,0.460060,...,0.604459,0.439216,1.000000,0.414726,0.433274,0.138847,0.165576,0.171667,0.164167,0.0
4,1.0,0.615589,0.370427,0.222388,0.093631,0.230368,0.260095,0.007154,0.085337,0.118411,...,0.000000,0.319286,0.971205,0.000388,0.000000,0.138809,0.121451,0.330833,0.325000,0.0

In [49]:
train.describe()

,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,interest1,ctax1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,hospital_size
count,2.920000e+02,292.000000,2.920000e+02,2.920000e+02,2.920000e+02,2.920000e+02,2.920000e+02,2.920000e+02,2.920000e+02,2.920000e+02,...,2.920000e+02,2.920000e+02,2.920000e+02,2.920000e+02,2.920000e+02,2.920000e+02,2.920000e+02,284.000000,281.000000,292.000000
mean,2.005035e+07,142.673888,1.292482e+10,2.021726e+09,1.036622e+10,5.672605e+09,2.704924e+08,5.130304e+08,1.875221e+08,7.874196e+07,...,8.173924e+09,3.873805e+09,1.515222e+09,4.486560e+09,2.719260e+09,5.291980e+09,9.819793e+08,136.771127,128.462633,0.078767
std,8.859836e+04,117.585777,2.045719e+10,7.472162e+09,1.495329e+10,8.091010e+09,8.036068e+08,1.061911e+09,2.741262e+08,2.489944e+08,...,1.257046e+10,6.805136e+09,2.957153e+09,7.668236e+09,4.569066e+09,1.082673e+10,4.696496e+09,148.940642,139.162801,0.269837
min,1.978012e+07,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-2.014780e+10,-2.781507e+09,0.000000,0.000000,0.000000
25%,2.001117e+07,52.000000,3.261234e+09,0.000000e+00,2.825778e+09,1.631012e+09,8.179622e+06,8.007077e+07,5.172361e+07,0.000000e+00,...,1.308468e+09,2.940569e+08,0.000000e+00,2.557878e+07,0.000000e+00,1.022285e+09,0.000000e+00,53.000000,53.000000,0.000000
50%,2.007116e+07,133.000000,5.554592e+09,2.112576e+08,4.717490e+09,2.664001e+09,4.482983e+07,1.839620e+08,1.098159e+08,1.134180e+06,...,3.801495e+09,1.454651e+09,9.271274e+07,1.975087e+09,1.103085e+09,2.899688e+09,0.000000e+00,79.000000,78.000000,0.000000
75%,2.011087e+07,185.250000,1.286315e+10,9.106278e+08,1.078348e+10,6.380456e+09,2.057630e+08,4.221954e+08,2.251664e+08,4.445450e+07,...,8.504299e+09,4.387707e+09,1.583475e+09,4.912663e+09,3.364675e+09,5.372589e+09,1.034099e+08,171.750000,161.000000,0.000000
max,2.017061e+07,656.000000,1.510000e+11,9.850332e+10,1.030000e+11,6.403559e+10,9.144171e+09,8.686380e+09,2.841475e+09,2.808883e+09,...,8.508858e+10,6.846878e+10,1.759375e+10,5.150388e+10,3.256147e+10,1.250000e+11,6.852730e+10,1200.000000,1200.000000,1.000000

In [53]:
strain.describe()

,OC,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,interest1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,hospital_size
count,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,...,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,284.000000,281.000000,292.000000
mean,0.952055,0.692018,0.217491,0.085595,0.020524,0.100643,0.088585,0.029581,0.059061,0.065995,...,0.096064,0.056578,0.086123,0.087111,0.083512,0.175268,0.052777,0.113976,0.107052,0.078767
std,0.214017,0.226894,0.179247,0.135478,0.075857,0.145178,0.126352,0.087882,0.122250,0.096473,...,0.147734,0.099390,0.168080,0.148887,0.140321,0.074591,0.065861,0.124117,0.115969,0.269837
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.591693,0.079268,0.021598,0.000000,0.027435,0.025470,0.000895,0.009218,0.018203,...,0.015378,0.004295,0.000000,0.000497,0.000000,0.145852,0.039006,0.044167,0.044167,0.000000
50%,1.000000,0.745335,0.202744,0.036785,0.002145,0.045801,0.041602,0.004903,0.021178,0.038648,...,0.044677,0.021245,0.005270,0.038348,0.033877,0.158786,0.039006,0.065833,0.065000,0.000000
75%,1.000000,0.847022,0.282393,0.085186,0.009245,0.104694,0.099639,0.022502,0.048604,0.079243,...,0.099946,0.064083,0.090002,0.095384,0.103333,0.175823,0.040457,0.143125,0.134167,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [57]:
X_train=strain.drop('OC',axis=1)
X_test=test.drop('OC',axis=1)
y_train=strain.OC
y_test=test.OC

In [58]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import warnings
warnings.filterwarnings('ignore')


rf_clf=RandomForestClassifier(random_state=0)
rf_clf.fit(X_train, y_train)
pred=rf_clf.predict(X_test)
accuracy=accuracy_score(y_test, pred)
print('랜덤 포레스트 정확도:{0:4f}'.format(accuracy))

ValueError: ignored